<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ping-e-pong</title>
</head>
<body>
    <div id="app">
        <settings
            v-show="stage === 'settings'"
            @start="start"
            :width.sync="width"      
            :height.sync="height"       
            :theme.sync="theme"
            :difficult.sync="difficult"
            :multi-wall.sync="multiWall"
            :bonuses.sync="bonuses">
        </settings>
        <template v-if="stage === 'prepare'">
            <player-settings v-for="player of players" 
                :wall.sync="player.wall"
                :width.sync="player.width"
                :speed.sync="player.speed"
                :points="player.points">
            </player-settings>
        </template>
        <game-field :matrix="matrix"></game-field>
    </div>
</body>
</html>